---
import Layout from '../layouts/Layout.astro';
import { YouTube } from 'astro-embed';
import { getPosts } from '../queries/Home';
import type { Post } from '../types/shared';
import Image from 'astro/components/Image.astro';

const posts: Post[] = await getPosts();
---

<Layout title='Zoe Bassi'>
  <main>
    <h1 class='uppercase text-center m-8 text-3xl'>Zoe Bassi</h1>
    <div class='max-w-7xl mx-auto'>
      {
        posts.map(({ title, youTubeLink, imagesCollection }) => (
          <div>
            <h2 class='uppercase text-center m-8'>{title}</h2>
            <div class='mb-4'>
              <YouTube id={youTubeLink} style='height: 200px; width: 1000px' />
            </div>
            {imagesCollection.items.map(({ url, height, width }) => (
              <Image
                src={url}
                alt=''
                height={height}
                width={width}
                class='mb-4'
              />
            ))}
          </div>
        ))
      }
    </div>
  </main>
</Layout>
