---
import Layout from '../layouts/Layout.astro';
import { YouTube } from 'astro-embed';
import { getPosts } from '../queries/Home';
import type { Post } from '../types/shared';
import { Image } from 'astro:assets';

const posts: Post[] = await getPosts();

const sortedPosts = posts.sort((a, b) =>
  a.sys.firstPublishedAt > b.sys.firstPublishedAt ? -1 : 1
);
---

<Layout title="Zoe Bassi | Director & Videographer">
  <main>
    <div class="my-20 text-center md:my-28">
      <h1 class="mb-6 text-8xl uppercase md:text-[9rem] lg:text-[10rem]">
        Zoe Bassi
      </h1>
      <p>director // videographer</p>
      <p>based in berlin</p>
      <p class="select-none text-sm font-extralight md:text-base">
        zoyabassi@gmail.com
      </p>
    </div>
    <div class="mx-auto max-w-[1920px]">
      {
        sortedPosts.map(({ title, youTubeLink, imagesCollection }) => (
          <section>
            <h2 class="border-y-2 border-white text-center text-xl tracking-wider md:p-2 md:text-2xl">
              <span class="block border-x-2 md:inline md:p-2">
                {title.toUpperCase()}
              </span>
            </h2>
            <div class="grid-cols-2 md:grid">
              <div data-aos="fade">
                <YouTube
                  id={youTubeLink}
                  poster={imagesCollection.items[0].url}
                />
              </div>
              {imagesCollection.items.slice(1).map(({ url, height, width }) => (
                <Image
                  data-aos="fade"
                  src={url}
                  alt=""
                  height={height}
                  width={width}
                />
              ))}
            </div>
          </section>
        ))
      }
    </div>
  </main>
</Layout>
