---
import Layout from '../layouts/Layout.astro';
import { YouTube } from 'astro-embed';
import { getPosts } from '../queries/Home';
import type { Post } from '../types/shared';
import Image from 'astro/components/Image.astro';

const posts: Post[] = await getPosts();

const sortedPosts = posts.sort((a, b) =>
  a.sys.firstPublishedAt > b.sys.firstPublishedAt ? -1 : 1
);
---

<Layout title="Zoe Bassi">
  <main>
    <div class="my-20 text-center md:my-28">
      <h1 class="mb-6 text-6xl uppercase md:text-8xl">Zoe Bassi</h1>
      <p class="select-none text-sm font-extralight md:text-base">
        zoyabassi@gmail.com
      </p>
    </div>
    <div class="mx-auto max-w-7xl">
      {
        sortedPosts.map(({ title, youTubeLink, imagesCollection }) => (
          <div class="mb-20 md:mb-32">
            <h2 class="border-tb-2 mb-4 p-2 text-center text-2xl tracking-wider md:text-3xl">
              {title.toUpperCase()}
            </h2>
            <div class="mx-8 mb-4">
              <YouTube id={youTubeLink} style="height: 200px; width: 1000px" />
            </div>
            <div class="mx-8">
              {imagesCollection.items.map(({ url, height, width }) => (
                <Image
                  src={url}
                  alt=""
                  height={height}
                  width={width}
                  class="mb-4"
                />
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
