---
import Layout from '../layouts/Layout.astro';
import { YouTube } from 'astro-embed';
import { getPosts } from '../queries/Home';
import type { Post } from '../types/shared';
import Image from 'astro/components/Image.astro';

const posts: Post[] = await getPosts();

const sortedPosts = posts.sort((a, b) =>
  a.sys.firstPublishedAt > b.sys.firstPublishedAt ? -1 : 1
);
---

<Layout title="Zoe Bassi">
  <main>
    <div class="m-12 text-center md:m-20">
      <h1 class="mb-6 text-6xl uppercase md:text-8xl">Zoe Bassi</h1>
      <p class="select-none font-extralight">zoyabassi@gmail.com</p>
    </div>
    <div class="mx-auto mb-6 max-w-7xl">
      {
        sortedPosts.map(({ title, youTubeLink, imagesCollection }) => (
          <div>
            <h2 class="m-8 text-center text-2xl tracking-wide">{title}</h2>
            <div class="mb-4">
              <YouTube id={youTubeLink} style="height: 200px; width: 1000px" />
            </div>
            {imagesCollection.items.map(({ url, height, width }) => (
              <Image
                src={url}
                alt=""
                height={height}
                width={width}
                class="mb-4"
              />
            ))}
          </div>
        ))
      }
    </div>
  </main>
</Layout>
